body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

label.error {
    color: darkorange;
    font-size: 80%;
}

.form-info {
    margin-top: 30px;
}

.ename{
    font-size: 150%;
    color: #1B809E;
}

.view{
    overflow-wrap: break-word;
}
.view label{
    color: #1a928a;
}

#elementTable td:nth-child(1), #elementTable td:nth-child(2), #elementTable td:nth-child(3){
    max-width: 335px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#msg{
    width: 55%;
    overflow-wrap: break-word;
}

.notfound{
    text-align: center;
    font-size: 120%;
    color: gray;
}